#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.e-richtexteditor .e-rte-content .e-content pre {
    padding: 10px;
    /*csslint important: false*/
    background: #F4F5F7 !important;;
    /*csslint important: true*/
}