#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#headless-editor {
    min-height: 200px;
    margin-bottom: 20px;
}