<div id="ribbon">
    <button id="ribbonBold" type="button" (click)="applyBold()"><b>B</b></button>
    <button id="ribbonItalic" type="button" (click)="applyItalic()"><i>I</i></button>
    <button id="ribbonUnderline" type="button" (click)="applyUnderline()"><u>U</u></button>
    <select id="ribbonHeading" (change)="applyHeading($event)">
        <option value="paragraph">Normal</option>
        <option value="heading1">Heading 1</option>
        <option value="heading2">Heading 2</option>
        <option value="heading3">Heading 3</option>
    </select>
    <input id="ribbonColor" type="color" title="Font color" (input)="applyColor($event)" />
</div>
<ejs-richtexteditor-ui #editor [toolbarSettings]="toolbarSettings"></ejs-richtexteditor-ui>
