.e-code-mirror::before {
    content: '\e345';
}

.e-html-preview::before {
  content: '\e350';
}

.CodeMirror-linenumber,
.CodeMirror-gutters {
  display: none;
}
.CodeMirror-linenumber,
.CodeMirror-gutters {
  display: none;
}
.e-rte-code-mirror-enabled .rte-code-mirror {
  display: block !important;
  /* To show the custom source code view. */
}

.e-rte-code-mirror-enabled .e-rte-content {
  display: none !important;
  /* To hide the editor area when custom source code enabled. */
}
.e-rte-srctextarea {
  display: none !important;  /* To hide the editor area when custom source code enabled. */
}
.e-source-content {
  display: block !important;
}
body[class*='-dark'] .em-name {
  color: #fff !important;
}

/** custom source code styles **/
body[class*='-dark'] .rte-code-mirror .cm-tag {
  color: #00ff00;
}

body[class*='-dark'] .rte-code-mirror .cm-string {
  color: blue;
}

body[class*='-dark'] .rte-code-mirror .cm-attribute {
  color: #f00;
}

body[class*='-dark'] .rte-code-mirror .CodeMirror-gutters,
body[class*='-dark'] .rte-code-mirror .CodeMirror {
  background-color: transparent;
  color: #fff;
}